{% extends '../base.html'%}

{% block content %}
{% for const_site in const_sites %}
    {{ const_site }}
    
    </br>
    {% for task in tasks %}
        {% if task.const_site == const_site %}
        <a href="{% url 'task' id=task.task_id %}">{{ task }}</a>
        
        </br>
        {% endif %}
    {% endfor %}
    <form action="{% url 'construction_site_delete' id=const_site.const_site_id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    </br>
{% endfor %}
{% endblock %}