{% extends '../base.html'%}

{% block content %}
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'employees' %}">
        <button type="submit" class="btn btn-info">Работники</button>
    </form>
    <br>
    <form action="{% url 'employee_create' %}">
        <button type="submit" class="btn btn-success">Добавить работника</button>
    </form>
</div>
<br>
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'construction_sites' %}">
        <button type="submit" class="btn btn-info">Строительные площадки</button>
    </form>
    <br>
    <form action="{% url 'construction_site_create' %}">
        <button type="submit" class="btn btn-success">Добавить площадку</button>
    </form>
</div>
<br>
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'construction_tools' %}">
        <button type="submit" class="btn btn-info">Строительные инструменты</button>
    </form>
    <br>
    <form action="{% url 'construction_tools_create' %}">
        <button type="submit" class="btn btn-success">Добавить строительный инструмент</button>
    </form>
</div>

<br>
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'models' %}">
        <button type="submit" class="btn btn-info">Модели</button>
    </form>
    <br>
    <form action="{% url 'model_create' %}">
        <button type="submit" class="btn btn-success">Добавить модель</button>
    </form>
</div>
<br>
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'citizenships' %}">
        <button type="submit" class="btn btn-info">Гражданства</button>
    </form>
    <br>
    <form action="{% url 'citizenship_create' %}">
        <button type="submit" class="btn btn-success">Добавить гражданство</button>
    </form>
</div>
<br>
<div class="border border-primary rounded" style="padding: 20px;">
    <form action="{% url 'posts' %}">
        <button type="submit" class="btn btn-info">Должности</button>
    </form>
    <br>
    <form action="{% url 'post_create' %}">
        <button type="submit" class="btn btn-success">Добавить должность</button>
    </form>
</div>
<br>
{% endblock %}