{% extends '../base.html'%}

{% block content %}

<h1>{{ task }}</h1>
{{task.description}}
</br>
<p>Инструменты</p>
{% for tool in tools %}
{{tool}}
<br>
{% endfor %}
<p>Работники</p>
{% for employee in employees %}
<a href="{% url 'employee' id=employee.empl_id %}">{{employee}}</a>
<br>
{% endfor %}
<p>Отчеты</p>
{% for report in reports %}
<a href="{% url 'report' id=report.report_id %}">{{report}}</a>
<br>
{% endfor %}
<form action="{% url 'task_delete' id=task.task_id %}" method="post">
    {% csrf_token %}
    <button type="submit">Удалить</button>
</form>
</br>

{% endblock %}